@{
    ViewBag.Title = "Добавление мероприятия";
    Layout = "_Layout";
}

<div id="message"></div>
<h2>Заполните форму чтобы добавить мероприятие</h2>
<form class="add-event-form" action="" onsubmit="submitForm(event)">
    <div>
        <label for="event-name">Наименование мероприятия:</label>
        <input type="text" id="event-name" name="event-name">
    </div>
    <div>
        <label for="event-date">Дата мероприятия:</label>
        <input type="date" data-toggle="datepicker" id="event-date">
    </div>
    <div>
        <label for="event-date">Время мероприятия:</label>
        <input type="time"  id="event-time">
    </div>
    <i class="fas fa-plus" onclick="openModal()"></i>
    <button type="submit">Submit</button>
</form>
<div id="modal">
    <div id="modal-head"><h3>Добавление нового параметра мероприятия</h3></div>
    <div id="modal-body">
        <label for="new-param-name">Имя нового параметра</label>
        <input type="text" id="new-param-name">
    </div>
    <div id="modal-foot">
        <div onclick="submitModal()">Принять</div>
        <div onclick="hideModal()">Отмена</div>
    </div>
</div>
<div id="overlay"></div>